.bar-fullscreen {
    width: 100% ;
    height: 50px;
    border-radius: 0 0 5px 5px;
    background: rgb(33, 33, 33);
    display: flex;
    justify-content: center;

    div {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            color: white;
            font-size: 17px;
        }
    
        img {
            width: 35px;
            cursor: pointer;
        }
    }
}